<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <!-- body class="d-flex flex-column h-100"  -->
  <body>
    <!-- Navigation-->
    <%- include ("../partials/navbar.ejs") %>
    <!-- Header-->

    <div class = "container">
      <div style="height: 10px;"></div>
      <div class="row">
	<h1 class="col-4 mt-auto text-left">ANALYTICS</h1>
	<h1 class="col-6 mt-auto text-left" style="font-size: 25px;"><em>"Data science meets book culture and textual history."</em></h1>
      </div>



      <div class="row">
	<div style="height: 50px;"></div>
	<div class="col-4 text-left" style="font-size: 26px;">
          <p>Turning texts into numbers.</p>
          <p>Identifying patterns in the numbers.</p>
          <p>Turning numbers into stories</p>
	</div>

	<div class="col-8 text-left ">
          <div class=""><strong>THEOT SCRIPTS</strong></div>
          <ul>
            <li class=""><a href="">Follow this link to the THEOT Scripts (need links) </a> </li> 
          </ul> 
          
	</div>
      </div>

      <div class="row">
	<div class="col-4 text-left">
          <div><strong>Bibliograpahy</strong></div>
          <ul>
            <li> Article in Textus </li>
            <li> Garry and Steve’s article in Weniger volume: </li>
            <li> Steve and Garry articles in THB vol. 4 </li>
            <li> Steve and Daniel’s article ANE Today </li>
            <li> Steve and Jeremy and Wendy’s book </li>
            <li> Steve and Cameron on Ps 151 in THB </li>
            <li> Introduction to step 6: </li>
            <li> Introduction to step 7: </li>
          </ul>
	</div>
	

	<div class="col-6 text-left">
          <div><strong>Video Tutorials</strong></div>
          <ul>
            <li> <a href="">Introduction to User Interface</a></li>
            <li> <a href="">Introduction to step 1: </a></li>
            <li> <a href="">Introduction to step 2: </a></li>
            <li> <a href="">Introduction to step 3: </a></li>
            <li> <a href="">Introduction to step 4: </a></li>
            <li> <a href="">Introduction to step 5: </a></li>
            <li> <a href="">Introduction to step 6: </a></li>
            <li> <a href="">Introduction to step 7: </a></li>
          </ul>
	</div>

	<div class="col-2 text-left">
          <div> </div>
          <ul style="list-style-type: none;">
            <li>--------------------</li>
            <li> <a href="">Transcript PDF</a></li>
            <li> <a href="">Transcript PDF</a></li>
            <li> <a href="">Transcript PDF</a></li>
            <li> <a href="">Transcript PDF</a></li>
            <li> <a href="">Transcript PDF</a></li>
            <li> <a href="">Transcript PDF</a></li>
            <li> <a href="">Transcript PDF</a></li>
            <li> <a href="">Transcript PDF</a></li>
          </ul>
	</div>
      </div>
    </div>
  </body>
</html>


