<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
    <style>
      table {
          border-spacing: 0px;
          table-layout: fixed;
          margin-left: auto;
          margin-right: auto;
      }
      td {
          border: 1px solid black;
          word-wrap: break-word;
      }
      </style>  </head>

  <body>
    <!-- <style> -->
      <!--   .list  text-align: left; max-width: 750px; margin: auto; } -->
      <!-- </style> -->
    <!-- <\!-- Navigation-\-> -->
      <%- include ("../partials/navbar.ejs") %>

      <div>
	<div>
	  <h4>All Books</h4>

          <div>
            <table border="1px">
              <tr>
		<th>Book</th>
              </tr>
	      <% rows.forEach(function(study, i) { %>
	      <tr>
		<td><a href="/book/<%=study.ot_book%>"><%=study.ot_book%></a></td>	      
	      </tr>
	      <%  }); %>
            </table>
          </div>
	</div>

	<iframe width="560px" height="320px" allowfullscreen="true" allow="autoplay *" src="https://acu.instructuremedia.com/embed/bdf42887-e4d4-4354-b8c5-a4f9418f0434" frameborder="0"></iframe>
      </div>
  </body>
</html>


