<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <!-- body class="d-flex flex-column h-100"  -->
  <body>
    <!-- Navigation-->
    <%- include ("../partials/navbar.ejs") %>
    <!-- Header-->

    <div class = "container">
      <div class="row">
	<div style="height: 10px;"></div>
	<h1 class="col-4 mt-auto text-left">DATA</h1>
	<h1 class="col-8 mt-auto text-left" style="font-size: 28px;"><em>“No one set of conclusions from the data is more important than the data itself.”</em></h1>
      </div>

      <div class="row">
	<div class="col-4 text-left" style="font-size: 26px;">
          <p>Complete data sets are available for each of the books involved in our project.</p>
          <p>In addition, we’ve provided video tutorials to explain the nature and layout of the data.</p>
	</div>

	<div class="col-8 text-left mt-auto">
          <H3><a href="/book">Books and Studies</a></H3><br />
          <div class=""><strong>THEOT DATA SETS – arranged by book of the Old Testament</strong></div>

          <ul>
            <li class=""><a href="">Deuteronomy [linked to the location of data files]</a> </li> 
            <li class=""><a href="">Judges [linked to the location of data files]</a> </li> 
            <li class=""><a href="">Ecclesiastes [linked to the location of data files]</a> </li> 
            <li class=""><a href="">Hosea [linked to the location of data files]</a> </li> 
            <li class=""><a href="">Amos [linked to the location of data files]</a> </li> 
            <li class=""><a href="">Obadiah [linked to the location of data files]</a> </li> 
            <li class=""><a href="">Nahum [linked to the location of data files]</a> </li> 
          </ul> 
          
	</div>
      </div>

      <div class="row">   
	<div class="col-4 text-left">
          
	</div>   
	<div class="col-8 text-left">
          <div><strong>VIDEO TUTORIALS</strong></div>
          <ul>
            <li> <a href="">Introduction to Database of Variants - Columns</a></li>
            <li> <a href="">Introduction to Database of Variants – Columns – Words Profile Match</a></li>
            <li> <a href="">Introduction to Database of Variants – Columns – Words Profile Match – All – Exclude Unique Readings</a></li>
            <li> <a href="">Introduction to Database of Variants – Columns – Words Profile Match – Distinctive Readings</a></li>
            <li> <a href="">Introduction to Database of Variants – Columns – Words Profile Match – Best Representatives</a></li>
            <li> <a href="">Using R to Generate Dendrograms</a></li>
            <li> <a href="">Introduction to the Dendrogram</a></li>
            <li> <a href="">Introduction to the the “DR Strategies Spreadsheet”</a></li>
	    
          </ul>
	</div>

	
      </div>
    </div>
  </body>
</html>
