<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <!-- body class="d-flex flex-column h-100"  -->
  <body>
    <!-- Navigation-->
    <%- include ("../partials/navbar.ejs") %>
    <!-- Header-->

    <div class = "container">
      <div class="row">
	<div style="height: 10px;"></div>
	<h1 class="col-6  mt-auto text-left">LEARN MORE</h1>
	<h1 class="col-6  mt-auto" style="font-size: 25px;">
	  <em>It has taken a full decade to develop our team and our method, complete with workflow, and computer programs.  Now, the big story is coming clear. </em>
	</h1>
      </div>

      <div class="row" >
	<div class="col-5 text-left">
	  <p style="font-size: 28px"><strong>Working to tell the story of the path of Christian Scriptures in and through Ethiopian book culture.</strong></p>
	</div>
	<div class="col-2 text-left mt-auto"></div>
	<div class="col-5 text-left">
	  <div style="height: 50px;"/>
	  <ul style="list-style-type: none;">
	    <li class=""><p>GOALS OF THEOT PROJECT</p></li>
	    <li class=""><p>DETAILS OF THE NEH GRANT</p> </li> 
	    <li class=""><p>PERSONNEL</p> </li> 
	    <li class=""><p>HISTORY OF THE THEOT PROJECT</p></li>
	  </ul>          
	</div>
      </div>
    </div>
  </body>
</html>
