<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <!-- body class="d-flex flex-column h-100"  -->
  <body>
    <!-- Navigation-->
    <%- include ("../partials/navbar.ejs") %>
    <!-- Header-->


    <div class = "container">
      <div class="row">
	<div style="height: 10px;"></div>
	<h1 class="col-4 mt-auto text-left">MANUSCRIPTS</h1>
	<h1 class="col-6 mt-auto text-left" style="font-size: 36px" ><em>"It is the manuscripts that tell the story."</em></h1>
      </div>



      <div class="row">
	<div class="col-4 text-left" style="font-size: 20px">
	  
          <p>It requires more than thirty copies of a book of the Ethiopic Old Testament in order to know the broad contours of its textual history.</p>
          
          <p>This goal also requires an even distribution of copies from the seven centuries of the extant manuscript tradition.  This means we need somewhere between 350 and 500 manuscripts to create the accurate datasets we need for the entire Ethiopic Old Testament.</p>
          
          <p>Even fifteen years ago, such a goal would have been impossible to achieve.</p>
          
	</div>

	<div class="col-6 d-flex align-items-center">
          <h1 class="" style="font-size: 18px;">DATABASE OF ETHIOPIC MANUSCRIPTS carrying books of the Ethiopic Old Testament
            <a href="https://www.dropbox.com/sh/f6xy7rzamntpu03/AAAYAI6MqJkZwSCOLi0ktwc5a?dl=0" target="_blank">
              Drop Box</a> 
          </h1>
	</div>
      </div>
    </div>
  </body>
</html>


