<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <!-- body class="d-flex flex-column h-100"  -->
  <body>
    <!-- Navigation-->
    <%- include ("../partials/navbar.ejs") %>
    <!-- Header-->

  <div class = "container">
    <div class="row">
      <div style="height: 10px;"></div>
      <h1 class="col-4 text-uppercase text-left mt-auto">TEXT VIEWER</h1>
      <h1 class="col-8 mt-auto text-left" style="font-size: 25px" ><em>"There is no better way to see what is going on in the textual history."</em></h1>
    </div>

    <div class="row">
      <div style="height: 20px;"></div>
      <div class="col-4 text-left" style="font-size: 26px;">
        <p>See the text of an ethiopic Old Testament book in its earliest attested textform.</p>
        <p>Or, see the 30+ witnesses of each book, verse by verse, arranged by cluster.</p>
      </div>

      <div class="col-8 ">
        <h1 class="text-start text-uppercase" style="font-size: 25px;"><em>The text viewer [LINK]</em></h1>
        <div class="text-left"> 
          <ul>
            <li>
              <a href="">Follow this link to the manuscript viewer.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-6 text-left">
          <p class="text-start">VIDEO TUTORIALS</p>
          <ul>
            <li >
              <a href="">General Introduction - Navigating the interface</a>
            </li>

            <li>
              <a href="">Selecting a book for Viewing</a>
            </li>

            <li>
              <a href="">The display of witnesses, arranged by cluster</a>
            </li>

            <li>
              <a href="">On the development of the Text Viewer</a>
            </li>
          </ul>
        </div>
        <div class="col-2 text-right">
          <ul style="list-style-type: none">
            <li>
              --------
            </li>
            <li >
              <a href="">Transcript PDF</a>
            </li>

            <li>
              <a href="">Transcript PDF</a>
            </li>

            <li>
              <a href="">Transcript PDF</a>
            </li>

            <li>
              <a href="">Transcript PDF</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
    
</body>
</html>
