<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <!-- body class="d-flex flex-column h-100"  -->
  <body>
    <!-- Navigation-->
    <%- include ("../partials/navbar.ejs") %>
    <!-- Header-->

    <div class = "container">
      <div class="row">
	<div style="height: 10px;"></div>
	<h1 class="col-5 text-uppercase mt-auto text-left">VISUALIZATIONS</h1>
	<h1 class="col-7 mt-auto text-left" ><em style="font-size: 30px">"Ultimately, the data exists to be visualized. This is where the stories emerge."</em></h1>
      </div>



      <div class="row">
	<div style="height: 50px;"></div>
	<div class="col-5 text-left" style="font-size: 26px">
          Hidden in the data-like the proverbial needles in the haystack-are hidden patterns of shared variations. Once we find the patterns, the task is to visualize the results and tell the stories.
	</div>

	<div class="col-7 ">
          <h1 class="text-start text-uppercase" style="font-size: 25px;"><em>THEOT DATA VISUALIZATIONS</em></h1>
          <div class="text-left">
            <ul style="list-style-type: none;">
              <li >
		<a href="">Follow this link to the Theot Visualization Dashboard</a>
              </li>
            </ul>
          </div>
	</div>
      </div>
      <div class="row">
        <div class="col-5"></div>
        <div class="col-7 text-left">
          <h1 class="text-start text-uppercase" style="font-size: 25px;"><em>VIDEO TUTORIALS</em></h1>
          <ul style="list-style-type: none;">
            <li >
              <a href="">Introduction to User Dashboard</a>
            </li>

            <li>
              <a href="">Introduction to Step 1:</a>
            </li>

            <li>
              <a href="">Introduction to Step 2:</a>
            </li>

            <li>
              <a href="">Introduction to Step 3:</a>
            </li>

            <li>
              <a href="">Introduction to Step 4:</a>
            </li>

            <li>
              <a href="">Introduction to Step 5:</a>
            </li>

            <li>
              <a href="">Introduction to Step 6:</a>
            </li>

            <li>
              <a href="">Introduction to Step 7:</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
